* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: verdana;
}

html {
    scroll-behavior: smooth;
}

/*INDEX*/
.seccion-inicio {
    background-image: url(img/imgInicio.jpg);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.inicio-h1 {
    font-size: 2.2em;
}

.inicio-parrafo {
    font-size: 1em;
    margin: 20px;
}

.nav .div-nav {
    width: 100%;
    height: 60px;
    background-color: #00000036;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 50px;
}

.hamburguesa {
    width: 25px;
    height: 25%;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0;
    top: 60px;
    background-color: #00000036;
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    background-color: #3685be;
    border-radius: 5px;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}

/*INGRESO*/
.registrar-usuario {
    color: #993A16;
    margin-top: 30px;
}

.registrar-usuario:hover {
    opacity: 0.6;
}

.olvido-clave {
    color: #993A16;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 5px;
}

.olvido-clave:hover {
    opacity: 0.6;
}

.contenedor-ingreso {
    background-image: url(img/imgIngreso.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenido-ingreso {
    background-color: #ffffff;
    display: flex;
    width: 300px;
    height: 60%;
    border-radius: 25px 0 0 25px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #993A16;
    box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
}

.ingreso-combi {
    background-color: #ffffff83;
    display: flex;
    width: 400px;
    height: 60%;
    border-radius: 0 25px 25px 0;
    justify-content: flex-end;
    align-items: center;
    box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
}

.form-ingreso {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.input-ingreso {
    width: 70%;
    height: 45px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 10px;
    letter-spacing: 0.6px;
    border-style: inset;
}

.label-ingreso {
    width: 70%;
}

.boton-ingreso {
    background: #993A16;
    color: #ffffff;
    width: 70%;
    height: 45px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 10px;
    letter-spacing: 0.6px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.boton-ingreso:hover {
    opacity: 0.6
}

.img-ingreso {
    height: auto;
    width: 97%;
    margin-top: 30px;
    filter: drop-shadow(10px 100px 80px #000000);
}

.img-1100 {
    display: none;
}

/*REGISTRO*/
.contenedor-registro {
    background-image: url(img/imgRegistro.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenido-registro {
    background-color: #ffffff;
    width: 35%;
    height: 78%;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #993A16;
    box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
}

.input-registro {
    width: 60%;
    height: 45px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 10px;
    letter-spacing: 0.6px;
    border-style: inset;
}

.label-registro {
    width: 60%;
}

.form-registro {
    display: flex;
    width: 100;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boton-registro {
    background: #993A16;
    color: #ffffff;
    width: 60%;
    height: 45px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 10px;
    letter-spacing: 0.6px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.boton-registro:hover {
    opacity: 0.6;
}

/*GALERIA DE IMAGENES*/
.contenedor-galeria {
    display: flex;
    transition: .3s;
    margin: 0 20px 0 20px;
}

.contenerdor-texto-h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: .8em;
    text-align: center;
}

.contenerdor-texto-h2 span {
    width: 120px;
    height: 2px;
    background-color: #e1e1e1;
    display: block;
    margin-top: 60px;
}

.contenerdor-texto-h2 span em {
    background-color: #3f00eb;
    width: 60px;
    height: 2px;
    display: block;
    margin: auto;
}

.h2 {
    margin-top: 30px;
    color: #555;
}

.parrafo {
    font-size: 1.3em;
    color: #555;
    margin-bottom: 60px;
}

.galeria-columna {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.galeria-thumb {
    margin: 3px;
    overflow: hidden;
}

.galeria-imagen {
    display: block;
    width: 100%;
    transition: .3s;
}

.galeria-imagen:hover {
    transform: scale(1.1);
}

.galeria-titulo {
    display: none;
}

/*CONTACTO*/
.contenedor-texto {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    border-radius: 25px 0 0 25px;
    background-color: #3f00eb;
    box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
}

.contacto-h2,
.contacto-parrafo {
    margin: 20px;
}

.contenedor-contacto {
    background-image: url(img/imgContactos.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
}

.contenido-contacto {
    background-color: #ffffff;
    display: flex;
    height: 60%;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #3f00eb;
    box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 21px 0px rgba(0, 0, 0, 0.75);
    margin-top: 100px;
}

.form-contacto {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.area-texto {
    border-radius: 10px;
    max-width: 80%;
    max-height: 10vh;
    margin: 10px;
}

.input-contacto {
    width: 80%;
    height: 45px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 10px;
    letter-spacing: 0.6px;
    border-style: inset;
}

.boton-enviar {
    background: #3f00eb;
    color: #ffffff;
    width: 60%;
    height: 45px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 10px;
    letter-spacing: 0.6px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.boton-enviar:hover {
    opacity: 0.6
}

/*FOOTER*/
.footer-contenedor {
    background-color: #ffffff;
    font-size: 0.8em;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-inline-start: 20px;
}

.footer-der {
    width: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-der a {
    border-radius: 10px;
    font-size: 1.7em;
    color: #000000;
    text-align: center;
    line-height: 35px;
    transition: all .25s;
}

.footer-contenedor p.footer-links {
    font-size: 1.2em;
    color: #000000;
    transition: ease .25s;
}

.footer-contenedor p.footer-links a {
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-contenedor .footer-links a:before {
    content: ".";
    font-size: 1.2em;
    color: #000000;
    display: inline-block;
    padding-right: 5px;
}

.footer-contenedor .footer-links .link-1:before {
    content: none;
}

.footer-contenedor .footer-der a {
    width: 35px;
    height: 35px;
    background-color: #0000002f;
    transition: all .25s;
}

.footer-contenedor .footer-der a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-contenedor p.footer-links a:hover {
    text-decoration: underline;
}

/*MEDIA*/
@media (max-width: 600px) {
    .footer-contenedor {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        margin-left: 50px;
    }

    .hamburguesa {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 0.9em;
    }

    #check:checked~.nav-menu {
        position: relative;
        height: 50px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    #check:checked~.nav-menu li {
        display: inline-block;
        line-height: 50px;
        margin: 0 20px;
        transition: none;
    }
}

@media (max-width: 1100px) {
    .contenedor-ingreso {
        flex-direction: column-reverse;
    }

    .img-ingreso {
        display: none;
    }

    .img-1100 {
        display: flex;
        height: auto;
        width: 50%;
        margin-top: 30px;
        filter: drop-shadow(10px 100px 80px #00000093);
    }

    .contenido-ingreso {
        width: 70%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        border-radius: 25px;
    }

    .form-ingreso {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .ingreso-combi {
        width: 70%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
    }

    .contenido-registro {
        width: 70%;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .form-registro {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .contenido-contacto {
        width: 80%;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 150px;
    }

    .form-contacto {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .contenedor-texto {
        border-radius: 0 0 25px 25px;
    }

    .footer-der {
        width: 50%;
    }
}

@media (max-width: 1400px) and (min-width: 800px) {
    .contenedor-registro {
        width: 100%;
        height: 100vh;
    }
}


